.card {
    transition: transform 0.3s ease;
    border-color: #F5F5F5; 
    border-width: 20px; 
    padding-top:5px;
    border-radius: 13px ;
    background-color: #F5F5F5;
}
.ImgContainer{

    background-color: #d3f1d0;
    border-radius: 20px;
    object-fit: cover;
    
}
.card hr {
    width: 150%;
    margin-left: -30px !important;
}
.card:hover {
    transform: scale(1.03);  
}
body {
    font-family: 'Gugi', sans-serif !important;
    background-color: #060411;
}
.gugi-regular {
    font-family: 'Gugi', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3,h5, p {
    font-family: 'Gugi', sans-serif !important;
}
.mundo {
    width: 160px; 
    height: 160px; 
    position: absolute;
    margin-top: -30px;
    margin-left: -9px;
}
.bandera {
    width: 200px; 
    height: 200px; 
    position: absolute;
    margin-left: 86%;
    margin-top: -45px;

}
.pedrosa{
    width: 200px; 
    height: 200px; 
    position:absolute;
    margin-top: -37px;
    margin-left: 11%;
   
}
.andrea{
    width: 200px; 
    height: 200px; 
    position:absolute;
    margin-top: -37px;
    margin-left: 16%;
}
.lorenzo{
    width: 200px; 
    height: 200px; 
    position:absolute;
    margin-top: -37px;
    margin-left: 21%;
}
.bg-primary{
    height: 130px;
    background-color: #9baee4 !important;
    /* #95bcff */
}
.text-center {
    font-size: 90px;
    margin-top: 15px;
    text-align: center;  
    margin-left: 17%;  
    -webkit-text-stroke: 2px black; /* Define el ancho y color del borde */
    color: #db0012; /* Color de las letras */   
}
.w3-sidebar{
    overflow: hidden;
    background-color: #060411 !important;
}
.w3-sidebar img{
    margin-top: 25%;
}
footer{
    background-color:#060411;
    height: 100px; 
    position: relative;
}
footer img{
    position: absolute; /* Posiciona la imagen de manera absoluta dentro del footer */
    width: 60px; /* Aumenta el tamaño del logo de GitHub */
    height: auto;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Asegura que la imagen esté exactamente centrada */
}